---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Disfruta from '../components/Disfruta.astro';
import Descarga from '../components/Descarga.astro';
import Donde from '../components/Donde.astro';
import CreaPerfiles from '../components/CreaPerfiles.astro';
---

<Layout title="Netflix Colombia. Ve series online, ve peliculas online.">
	<main>
	<div class=" h-screen" style="background-image: url(/images/fondo.jpg);">
		<Nav/>
		<Hero/>
	</div>
		<Disfruta/>
		<Descarga/>
		<Donde/>
		<CreaPerfiles/>
	</main>
</Layout>


