<div class="bg-black flex justify-center my-2 py-[30px] md:py-[100px]">
    <img src="https://occ-0-3358-3933.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABS2wPb0M8BZZsg7maAVHhc1rfAZm9RWMpYfL95TcWCTiT1OvZGx4qg2NVvAtqK_AONqNNWbJYzdgVvbgrQGgag-qgYnKEi2RKM9A.png?r=25d" class="size-[200px] md:size-[500px]">
    <div class="pt-[30px] md:pt-[150px]">
    <h1 class="text-1xl md:text-5xl"><b>
        Crea perfiles para niños
    </b>
    </h1>
    <br>
    <p class="text-sm md:text-2xl w-[170px] md:w-[500px]">Los niños vivirán aventuras con sus personajes favoritos en un espacio diseñado exclusivamente para ellos, sin costo con tu membresía.

</p>
</div>
</div>