<div class="bg-black flex justify-center my-2 py-[100px]">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg" class=" w-[600px]">
    <div class="pt-[150px]">
    <h1 class=" text-5xl"><b>
        Descarga tus series para <br> verlas offline
    </b>
    </h1>
    <br>
    <p class=" text-2xl w-[500px]">Guarda tu contenido favorito y tendrás siempre algo para ver.

</p>
</div>
</div>