<div class="bg-black flex justify-center my-2 py-[30px] md:py-[100px]">
    <div class="md:pt-[150px] pt-[30px]">
    <h1 class="text-1xl md:text-5xl"><b>
        Disfruta en tu tv
    </b>
    </h1>
    <br>
    <p class="text-sm md:text-2xl w-[150px] md:w-[500px]">Ve en smart TV, PlayStation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.</p>
</div>
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" class="size-[200px] md:size-[400px]">
</div>