<div class="bg-black flex justify-center my-2 px-[30px] py-[30px] md:py-[100px]">
    <div class="md:pt-[150px] pt-[30px]">
    <h1 class="text-1xl md:text-5xl"><b>
        Disfruta donde quieras    
    </b>
    </h1>
    <br>
    <p class="text-sm md:text-2xl w-[170px] md:w-[500px]">Películas y series ilimitadas en tu teléfono, tablet, laptop y TV.
    </p>
</div>
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png" class="md:size-[400px] size-[180px]">
</div>