<div class="bg-black flex justify-center my-2 py-[100px]">
    <div class="pt-[150px]">
    <h1 class=" text-5xl"><b>
        Disfruta donde quieras    
    </b>
    </h1>
    <br>
    <p class=" text-2xl w-[500px]">Películas y series ilimitadas en tu teléfono, tablet, laptop y TV.
    </p>
</div>
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png" class="size-[400px]">
</div>