<div class="bg-black px-[30px] md:px-[230px] py-[15px] md:pt-24">
    <h1 class="">¿Preguntas? llama al 01 800 917 1564</h1>
    <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
        <ul class="pt-16">
            <li class="pb-3 underline"><a href="#">Preguntas Frecuentes</a></li>
            <li class="pb-3 underline"><a href="#">Relaciones con inversionistas</a></li>
            <li class="pb-3 underline"><a href="#">Formas de ver</a></li>
            <li class="pb-3 underline"><a href="#">Información corporativa</a></li>
            <li class="pb-3 underline"><a href="#">Solo en Netflix</a></li>
            <li class="pb-4"><select class="text-white border border-white rounded-lg w-[100px] h-8 bg-transparent" name="select">
                <option class="text-black bg-transparent" value="value1">English</option>
                <option class="text-black bg-transparent" value="value2">Español</option>
              </select></li>
            <li class="pb-3 underline">Netflix Colombia</li>
        </ul>
        <ul class="pt-16">
            <li class="pb-3 underline"><a href="#">Centro de ayuda</a></li>
            <li class="pb-3 underline"><a href="#">Empleo</a></li>
            <li class="pb-3 underline"><a href="#">Términos de uso</a></li>
            <li class="pb-3 underline"><a href="#">Contáctanos</a></li>
        </ul>
        <ul class="pt-16">
            <li class="pb-3 underline"><a href="#">Cuenta</a></li>
            <li class="pb-3 underline"><a href="#">Canjear tarjetas de regalo</a></li>
            <li class="pb-3 underline"><a href="#">Privacidad</a></li>
            <li class="pb-3 underline"><a href="#">Prueba de velocidad</a></li>
        </ul>
        <ul class="pt-16">
            <li class="pb-3 underline"><a href="#">Prensa</a></li>
            <li class="pb-3 underline"><a href="#">Canjear tarjetas de regalo</a></li>
            <li class="pb-3 underline"><a href="#">Preferencias de cookies</a></li>
            <li class="pb-3 underline"><a href="#">Avisos legales</a></li>
        </ul>
    </div>
</div>
