<div class="bg-black text-center my-2">
<h1 class="p-10 text-5xl"><b>Preguntas frecuentes</b></h1>

<details>
    <summary>
        ¿Que es Netflix?
    </summary>
    <div class="p" >
        Netflix es un servicio de streaming que ofrece una gran variedad de películas, series y documentales premiados en casi cualquier pantalla conectada a internet.
        <br>
        <br>
        Todo lo que quieras ver, sin límites ni comerciales, a un costo muy accesible. Siempre hay algo nuevo por descubrir, ¡y todas las semanas se agregan más películas y series!
    </div>
</details>
<details>
    <summary>
        ¿Cuanto cuesta Netflix?
    </summary>
    <div class="p" >
        Disfruta Netflix en tu smartphone, tablet, smart TV, laptop o dispositivo de streaming, todo por una tarifa plana mensual. Planes desde $ 16.900 hasta $ 38.900 al mes. Sin costos adicionales ni contratos.        <br>

    </div>
</details><details>
    <summary>
        ¿Donde puedo ver Netflix?
    </summary>
    <div class="p" >
        Disfruta donde quieras, cuando quieras. Inicia sesión en tu cuenta de Netflix para ver contenido al instante a través de netflix.com desde tu computadora personal o en cualquier dispositivo con conexión a internet que cuente con la app de Netflix, como smart TV, smartphones, tablets, reproductores multimedia y consolas de juegos.        <br>
        <br>
        Además, puedes descargar tus series favoritas con iOS, Android o la app para Windows 10. Con la función de descarga, puedes ver donde vayas y sin conexión a internet. Lleva Netflix contigo adonde sea.
    </div>
</details><details>
    <summary>
        ¿Como cáncelo?
    </summary>
    <div class="p" >
        Netflix es flexible. Sin contratos molestos ni compromisos. Cancela la membresía online con solo dos clics. No hay cargos por cancelación. Empieza y termina cuando quieras.
    </div>
</details><details>
    <summary>
        ¿Que puedo ver en Netflix?
    </summary>
    <div class="p" >
        Netflix tiene un amplio catálogo de películas, series, documentales, animes, originales premiados y más. Todo lo que quieras ver, cuando quieras.
    </div>
</details><details>
    <summary>
        ¿Es bueno Netflix para los niños?
¿    </summary>
    <div class="p" >
        La experiencia de Netflix para niños está incluida en la membresía para que los padres tengan el control mientras los peques disfrutan series y películas familiares en su propio espacio.
    </div>
</details>


    <h1 class="text-2xl p-7">
        ¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.
    </h1>   

<input class="mr-5 w-[300px] top-2 md:mb-0 mb-10 pb-4 pt-3 pl-5 pr-8 rounded-sm bg-transparent border border-white text-xl" placeholder="Email" type="text" name="" id="">
<button class=" bg-red-700 h-[50px] w-[200px] mb-14 text-xl"><b>Comenzar <i class="bx bx-right-arrow-alt fill-white" ></i></b></button>

</div>
<style>
details{
    margin: 20px;
    cursor: pointer;
    background-color: gray;
    margin-left: 200px ;
    margin-right:200px ;
    font-size: 35px;
    padding: 20px;
    text-align: left;
    background-color: rgb(45,45,45);
	transition: all 0.5s ease;
	overflow: hidden;
    max-height: 200px;
    
}

@media (max-width:800px){
    details{
        margin: 10px;
    }

}
details:hover{
    background-color: #504f4e;
}
details[open]{
    max-height: 500px;
}
details[open] summary::after{
    content: '-';
}


summary{
    list-style: none;
}
summary::after{
    content: '+';
    
}

.p{
    font-size: 20px;
}

</style>